<html>
  <body>
<table border=3D"0" width=3D"550" cellpadding=3D"0" cellspacing=3D"0" style=3D"max-width:550px; border-top:4px solid #39C; font: 12px arial, sans-serif; margin: 0 auto;"><tr><td> =20
  <h1 style=3D"color: #000; font: bold 23px arial; margin:5px 0;" >LinkedIn</h1>

<div style=3D"font:13px arial, sans-serif; width:540px">
            <p>%%name%% has indicated you are a fellow group member of %%group%%:</p>

  <p>
    %%message%%<br/>
<br/>
- Johny 
  </p>

  <div style=3D"margin-top: 15px; margin-bottom:10px; border-bottom: 1px solid #ddd; line-height:1px">&nbsp;</div>

   <table cellpadding=3D"0" cellspacing=3D"0">
     <tr>
         <td style=3D"width:15%; padding-right:20px; font:12px arial, sans-serif;">
           <a style=3D"background-color:#ffcc00; display:block; border-right: 1px solid #7a5a20; border-bottom: 1px solid #7a5a20; padding:5px; text-decoration: none; color: #000; text-align: center; white-space:none; font-weight: bold" href=3D"http://www.linkedin.com/e/VwwCK_lOb-yjbWg0jgL2jmyFbk_iwCH-Eeo/blk/I1763917733_2/1BpC5vrmRLoRZcjkkZt5YCpnlOt3RApnhMpmdzgmhxrSNBszYOnPcPdPsNejcSdP59bSZfun1cszBQbPkNczwUcjAOc34LrCBxbOYWrSlI/EML_comm_afe/">Accept</a>
         </td>
         <td style=3D"font: 13px arial, sans-serif;">
               <a href=3D"http://www.linkedin.com/e/VwwCK_lOb-yjbWg0jgL2jmyFbk_iwCH-Eeo/blk/I1763917733_2/39vcPcTdP4VcPoTckALqnpPbOYWrSlI/S2_svi/">View invitation from %%name%%</a>
         </td>
     </tr>
   </table>

   <br>
   <div style=3D"margin-top: 5px; border-bottom: 2px solid #ddd; line-height:2px">&nbsp;</div>
   <br>
    <p><strong>WHY MIGHT CONNECTING WITH JUAN MANUEL GARC&#xcd;A CEH, GPEN, CHFI, CEI, STS BE A GOOD IDEA?</strong></p>
    <p><strong>People Juan Manuel Garc&#xed;a CEH, GPEN, CHFI, CEI, STS knows can discover your profile</strong><br> Connecting to Juan Manuel Garc&#xed;a CEH, GPEN, CHFI, CEI, STS will attract the attention of LinkedIn users. See <a href=3D"http://www.linkedin.com/e/wvp/inv18_wvmp/">who's been viewing your profile</a>.</p>
    <div style=3D"margin-top: 6px; border-bottom: 2px solid #ddd; line-height:3px">&nbsp;</div>
</div>

  <p style=3D"width: 550px; margin: 3px auto; font: 10px arial, sans-serif; color: #999;">&#169; 2010, LinkedIn Corporation
</p>

</body>
</html>