<html>
<body lang=3D"en">
  <style type=3D"text/css">
  a { color: #0084B4}
  a:hover { color: #215e88}
  h1, h2 { margin: 0 0 16px 0; color: #000;}
  h2 { font: 20px Georgia, serif; }
  h3 { margin: 14px 0 4px 0;  color: #000; font: normal 18px Georgia, serif; line-height: 22px; }
  p, ul { margin: 4px 0 15px 0; }
  p { font:13px 'Lucida Grande', Lucida Grande, Helvetica, Arial, sans-serif; line-height: 18px; }
  .user:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;   }
  .user { {display: inline-block;}
  </style>
  <div style=3D"padding: 8px; background-color:#9AE4E8;background-image: url(http://s.twimg.com/a/1264119427/images/bg.gif);background-repeat: no-repeat;background-position: left top;background-attachment:fixed; -moz-border-radius:7px;-webkit-border-radius:7px;">
    <div id=3D"mail-header" style=3D"padding: 8px; margin: 8px 0px;">
      <a href=3D"http://twitter.com"><img src=3D"http://s.twimg.com/a/1264119427/images/twitter_logo_header.png?src=3Dmail" style=3D"border: 0px;"/></a>
    </div>
    <div style=3D"height: 10px; padding: 0; margin: 0">
      <img src=3D"http://s.twimg.com/a/1264119427/images/arr2.gif" style=3D"padding:0px;margin:2px 0px 0px 25px;">
    </div>
    <div id=3D"bubble">
      <table width=3D"100%" style=3D"background-color:#fff; color: #222; -moz-border-radius:5px;-webkit-border-radius:5px; *margin-top: -5px">
        <tr><td width=3D"100%" style=3D"padding: 8px; margin: 8px;">
          <h2 style=3D"margin-bottom:16px;">Hi, %%name%%.</h2>
<p>
<a href=3D"http://twitter.com/JohnySchar?utm_medium=3Demail&utm_content=3Dprofile&evid=3DXq%2FaKvkg0eC3iH7pzQEt44L8cPrbJ7XbLw%2BW%2BB68H%2Fw%3D&utm_source=3Dfollow&utm_campaign=3Dtwitter20080331162631">Johny Scharisky (JohnySchar)</a> is now following your tweets on Twitter. 
</p>
<p>
A little information about Johny Scharisky: </p>
<div style=3D"margin: 8px 0 16px 0px;font: 13px 'Lucida Grande', Lucida Grande, Helvetica, Arial, sans-serif;line-height: 18px; background: #f6f6f6; border: 1px solid #eee; padding: 5px;-moz-border-radius:5px;-webkit-border-radius:5px;" class=3D"user">
<table>
  <tr>
    <td valign=3D"top"><a href=3D"http://twitter.com/JohnySchar?utm_medium=3Demail&utm_content=3Dprofile&evid=3DXq%2FaKvkg0eC3iH7pzQEt44L8cPrbJ7XbLw%2BW%2BB68H%2Fw%3D&utm_source=3Dfollow&utm_campaign=3Dtwitter20080331162631" style=3D"text-decoration:none"><img src=3D"http://a1.twimg.com/profile_images/618616938/taekwondo-monkey-shaded-twitter_normal.jpg" width=3D"48px" height=3D"48px" style=3D"border: 1px solid #ccc;margin-right: 5px"/></a></td>
    <td valign=3D"top">
      <span style=3D"color: #777;font-size: 110%;font-style:italic;font-family: Georgia, serif;">
        <span style=3D"padding-left: 6px">419 followers</span><br/>
        <span style=3D"padding-left: 6px">833 tweets</span><br/>
        <span style=3D"padding-left: 6px">following 382 people</span>
      </span>
    </td>
  </tr>
</table>
</div>


<p style=3D"border-top: 1px solid rgb(238, 238, 238);font-family: 'Lucida Grande',Lucida Grande,Helvetica,Arial,sans-serif; font-style: normal;font-variant: normal; font-weight: normal; font-size: 13px; font-size-adjust: none;font-stretch: normal; line-height: 18px; margin-bottom: 0pt; padding-top: 13px;">
  
</p>

<p style=3D"margin-top:5px;font-size:10px;color:#888888;">

  If you'd rather not receive follow notification emails from Twitter, you can <a href=3D"http://twitter.com/account/unsubscribe?utm_medium=3Demail&code=3DcIA3wmiNoXIc%2FFY25Bbw5%2B4VB%2FNElH38&utm_content=3Doptout&evid=3DXq%2FaKvkg0eC3iH7pzQEt44L8cPrbJ7XbLw%2BW%2BB68H%2Fw%3D&t=3Dfollow&utm_source=3Dfollow&utm_campaign=3Dtwitter20080331162631">unsubscribe</a> immediately. To resubscribe or change other Twitter email preferences, visit your account settings to manage <a href=3D"http://twitter.com/account/notifications?utm_medium=3Demail&utm_content=3Dnotices&evid=3DXq%2FaKvkg0eC3iH7pzQEt44L8cPrbJ7XbLw%2BW%2BB68H%2Fw%3D&utm_source=3Dfollow&utm_campaign=3Dtwitter20080331162631">email notices</a>.



Please do not reply to this message; it was sent from an unmonitored email address.  This message is a service email related to your use of Twitter.  For general inquiries or to request support with your Twitter account, please visit us at <a href=3D"http://twitter.com/help/">Twitter Support</a>.
</p>



        </td></tr>
      </table>
    </div>
  </div>
</body>
</html>
